.display-4 {
    font-size: 40px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

.goToSurvey {
    margin: 10px;
}

.employeeAPI {
    margin: 5px;
    padding-bottom: 10px;
}

h3{
    font-weight: bold;
}

label {
    font-size: 20px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}

#error{
    animation-duration: .5s;
    animation-name: fadeIn;
}